.banner {
  background-color: map-get($colors, 'banner-bg');
  background-image: url($base-assets-path + 'svg/clouds.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  min-height: 570px;
  max-height: 570px;
  padding-top: 92px;
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url($base-assets-path + 'svg/chart.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
  }

  &__content {
    z-index: 2;
    position: relative;
  }


  &__description {
    text-align: center;
    margin-bottom: 16px;

    h6 {
      color: map-get($colors, 'headers-color');
      font-size: map-get($font-sizes, 'xs');
      margin-bottom: 16px;
    }
    h1 {
      font-family: $main-font-family;
      color: map-get($colors, 'headers-color');
      font-weight: 300;
      font-size: map-get($font-sizes, 'xxl');
      margin-bottom: 28px;
    }
    p {
      max-width: 470px;
      margin: 0 auto;
      line-height: 30px;
      color: map-get($colors, 'main-font-color');
    }
  }

  &__video {
    text-align: center;
  }
}